[submodule "submodule/rive-cpp"]
	path = submodule/rive-cpp
	url = https://github.com/rive-app/rive-cpp.git
[submodule "submodule/skia"]
	path = submodule/skia
	url = https://github.com/google/skia.git
